In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("https://raw.githubusercontent.com/amankharwal/Website-data/master/dataset.csv")
data.head()

                                                Text  language
0  klement gottwaldi surnukeha palsameeriti ning ...  Estonian
1  sebes joseph pereira thomas  på eng the jesuit...   Swedish
2  ถนนเจริญกรุง อักษรโรมัน thanon charoen krung เ...      Thai
3  விசாகப்பட்டினம் தமிழ்ச்சங்கத்தை இந்துப் பத்திர...     Tamil
4  de spons behoort tot het geslacht haliclona en...     Dutch

In [3]:
data.isnull().sum()

Text        0
language    0
dtype: int64

In [4]:
data["language"].value_counts()

Persian       1000
Romanian      1000
Swedish       1000
Japanese      1000
French        1000
Thai          1000
Tamil         1000
Pushto        1000
Urdu          1000
Portugese     1000
English       1000
Estonian      1000
Russian       1000
Turkish       1000
Latin         1000
Hindi         1000
Korean        1000
Chinese       1000
Dutch         1000
Arabic        1000
Indonesian    1000
Spanish       1000
Name: language, dtype: int64

In [ ]:
## Data preprocessing

In [5]:
x = np.array(data["Text"])
y = np.array(data["language"])

In [6]:
# Convert a collection of text documents to a matrix of token counts.

from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer()
X = cv.fit_transform(x)

In [9]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, 
                                                    test_size=0.33, 
                                                    random_state=55)

In [10]:
from sklearn.naive_bayes import MultinomialNB
model = MultinomialNB()
model.fit(X_train,y_train)
model.score(X_test,y_test)

0.9538567493112947

In [11]:
user = input("Enter a Text: ")
data = cv.transform([user]).toarray()
output = model.predict(data)
print(output)

Enter a Text: देखकर अच्छा लगता है
['Hindi']

In [12]:
userInput = "es tan bueno verte"
data = cv.transform([userInput]).toarray()
output = model.predict(data)
print(output)

['Spanish']