# Using tabula-py

In [2]:
!pip install tabula-py

Collecting tabula-py
  Downloading tabula_py-2.3.0-py3-none-any.whl (12.0 MB)
Collecting distro
  Downloading distro-1.7.0-py3-none-any.whl (20 kB)
Requirement already satisfied: numpy in c:\users\dhaval_patel\anaconda3\lib\site-packages (from tabula-py) (1.19.2)
Requirement already satisfied: pandas>=0.25.3 in c:\users\dhaval_patel\anaconda3\lib\site-packages (from tabula-py) (1.1.3)
Requirement already satisfied: pytz>=2017.2 in c:\users\dhaval_patel\anaconda3\lib\site-packages (from pandas>=0.25.3->tabula-py) (2020.1)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\dhaval_patel\anaconda3\lib\site-packages (from pandas>=0.25.3->tabula-py) (2.8.1)
Requirement already satisfied: six>=1.5 in c:\users\dhaval_patel\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas>=0.25.3->tabula-py) (1.15.0)
Installing collected packages: distro, tabula-py
Successfully installed distro-1.7.0 tabula-py-2.3.0

In [4]:
# import the function
from tabula import read_pdf

In [5]:
# read all pages from the pdf file
tables_t = read_pdf("GST_march2022.pdf",pages='all')

In [6]:
# check number of tables extracted
print(len(tables_t))

3

In [7]:
tables_t[0]

   Unnamed: 0              State Mar-21 Mar-22 Growth
0           1  Jammu and Kashmir    352    368     5%
1           2   Himachal Pradesh    687    684     0%
2           3             Punjab  1,362  1,572    15%
3           4         Chandigarh    165    184    11%
4           5        Uttarakhand  1,304  1,255    -4%
5           6            Haryana  5,710  6,654    17%

In [8]:
tables_t[1]

     7              Delhi  3,926  4,112    5%
0    8          Rajasthan  3,352  3,587    7%
1    9      Uttar Pradesh  6,265  6,620    6%
2   10              Bihar  1,196  1,348   13%
3   11             Sikkim    214    230    8%
4   12  Arunachal Pradesh     92    105   14%
5   13           Nagaland     45     43   -6%
6   14            Manipur     50     60   18%
7   15            Mizoram     35     37    5%
8   16            Tripura     88     82   -7%
9   17          Meghalaya    152    181   19%
10  18              Assam  1,005  1,115   11%
11  19        West Bengal  4,387  4,472    2%
12  20          Jharkhand  2,416  2,550    6%
13  21             Odisha  3,285  4,125   26%
14  22       Chhattisgarh  2,544  2,720    7%
15  23     Madhya Pradesh  2,728  2,935    8%
16  24            Gujarat  8,197  9,158   12%
17  25      Daman and Diu      3      0  -92%

In [9]:
tables_t[2]

      26       Dadra and Nagar Haveli     288       284  -2%
0   27.0                  Maharashtra  17,038    20,305  19%
1   29.0                    Karnataka   7,915     8,750  11%
2   30.0                          Goa     344       386  12%
3   31.0                  Lakshadweep       2         2  36%
4   32.0                       Kerala   1,828     2,089  14%
5   33.0                   Tamil Nadu   7,579     8,023   6%
6   34.0                   Puducherry     161       163   1%
7   35.0  Andaman and Nicobar Islands      26        27   5%
8   36.0                    Telangana   4,166     4,242   2%
9   37.0               Andhra Pradesh   2,685     3,174  18%
10  38.0                       Ladakh      14        23  72%
11  97.0              Other Territory     122       149  22%
12  99.0          Centre Jurisdiction     141       170  20%
13   NaN                        Total  91,870  1,01,983  11%

In [22]:
type(tables_t[2])

pandas.core.frame.DataFrame

#### PDF data is extracted, but  not exactly the we want it. It requires merging and some cleaning as well!!

# Using camelot

In [15]:
!pip install camelot-py[cv]

Collecting camelot-py[cv]
  Downloading camelot_py-0.10.1-py3-none-any.whl (40 kB)
Requirement already satisfied: click>=6.7 in c:\users\dhaval_patel\anaconda3\lib\site-packages (from camelot-py[cv]) (7.1.2)
Requirement already satisfied: pdfminer.six>=20200726 in c:\users\dhaval_patel\anaconda3\lib\site-packages (from camelot-py[cv]) (20201018)
Requirement already satisfied: tabulate>=0.8.9 in c:\users\dhaval_patel\anaconda3\lib\site-packages (from camelot-py[cv]) (0.8.9)
Requirement already satisfied: PyPDF2>=1.26.0 in c:\users\dhaval_patel\anaconda3\lib\site-packages (from camelot-py[cv]) (1.26.0)
Requirement already satisfied: pandas>=0.23.4 in c:\users\dhaval_patel\anaconda3\lib\site-packages (from camelot-py[cv]) (1.1.3)
Requirement already satisfied: numpy>=1.13.3 in c:\users\dhaval_patel\anaconda3\lib\site-packages (from camelot-py[cv]) (1.19.2)
Requirement already satisfied: chardet>=3.0.4 in c:\users\dhaval_patel\anaconda3\lib\site-packages (from camelot-py[cv]) (3.0.4)
Requirement already satisfied: openpyxl>=2.5.8 in c:\users\dhaval_patel\anaconda3\lib\site-packages (from camelot-py[cv]) (3.0.5)
Collecting ghostscript>=0.7; extra == "cv"
  Downloading ghostscript-0.7-py2.py3-none-any.whl (25 kB)
Collecting pdftopng>=0.2.3; extra == "cv"
  Downloading pdftopng-0.2.3-cp38-cp38-win_amd64.whl (1.5 MB)
Collecting opencv-python>=3.4.2.17; extra == "cv"
  Downloading opencv_python-4.5.5.64-cp36-abi3-win_amd64.whl (35.4 MB)
Requirement already satisfied: cryptography in c:\users\dhaval_patel\anaconda3\lib\site-packages (from pdfminer.six>=20200726->camelot-py[cv]) (3.1.1)
Requirement already satisfied: sortedcontainers in c:\users\dhaval_patel\anaconda3\lib\site-packages (from pdfminer.six>=20200726->camelot-py[cv]) (2.2.2)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\dhaval_patel\anaconda3\lib\site-packages (from pandas>=0.23.4->camelot-py[cv]) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in c:\users\dhaval_patel\anaconda3\lib\site-packages (from pandas>=0.23.4->camelot-py[cv]) (2020.1)
Requirement already satisfied: jdcal in c:\users\dhaval_patel\anaconda3\lib\site-packages (from openpyxl>=2.5.8->camelot-py[cv]) (1.4.1)
Requirement already satisfied: et-xmlfile in c:\users\dhaval_patel\anaconda3\lib\site-packages (from openpyxl>=2.5.8->camelot-py[cv]) (1.0.1)
Requirement already satisfied: setuptools>=38.6.0 in c:\users\dhaval_patel\anaconda3\lib\site-packages (from ghostscript>=0.7; extra == "cv"->camelot-py[cv]) (50.3.1.post20201107)
Requirement already satisfied: cffi!=1.11.3,>=1.8 in c:\users\dhaval_patel\anaconda3\lib\site-packages (from cryptography->pdfminer.six>=20200726->camelot-py[cv]) (1.14.3)
Requirement already satisfied: six>=1.4.1 in c:\users\dhaval_patel\anaconda3\lib\site-packages (from cryptography->pdfminer.six>=20200726->camelot-py[cv]) (1.15.0)
Requirement already satisfied: pycparser in c:\users\dhaval_patel\anaconda3\lib\site-packages (from cffi!=1.11.3,>=1.8->cryptography->pdfminer.six>=20200726->camelot-py[cv]) (2.20)
Installing collected packages: ghostscript, pdftopng, opencv-python, camelot-py
Successfully installed camelot-py-0.10.1 ghostscript-0.7 opencv-python-4.5.5.64 pdftopng-0.2.3

In [1]:
# import the library
import camelot

#### Syntax of the camelot.read_pdf function 

camelot.read_pdf(
<br>&nbsp; &nbsp; &nbsp; &nbsp;
filepath,
<br>&nbsp; &nbsp; &nbsp; &nbsp;
pages='1', # '0-3'
<br>&nbsp; &nbsp; &nbsp; &nbsp;
password=None,
<br>&nbsp; &nbsp; &nbsp; &nbsp;
flavor='lattice', # 'stream'
<br>&nbsp; &nbsp; &nbsp; &nbsp;
suppress_stdout=False,
<br>&nbsp; &nbsp; &nbsp; &nbsp;
layout_kwargs={},
<br>&nbsp; &nbsp; &nbsp; &nbsp;
**kwargs,
<br>
)

In [2]:
tables_c = camelot.read_pdf('GST_march2022.pdf', pages='all')

*Note:* Incase you encounter "Ghostscript is not installed" error, then you might have to install gs*.exe from https://ghostscript.com/releases/gsdnld.html
<br>Help video: https://youtu.be/Y-FYq0tA3-w

In [3]:
tables_c

In [6]:
# Look at all the tables

for i in range(0,4):
    print(tables_c[i].df)

  0 1 2 3
0
1
2
      0                  1       2         3       4
0                    State  Mar-21    Mar-22  Growth
1     1  Jammu and Kashmir     352       368      5%
2     2   Himachal Pradesh     687       684      0%
3     3             Punjab   1,362     1,572     15%
4     4         Chandigarh     165       184     11%
5     5        Uttarakhand   1,304     1,255     -4%
6  6\n      Haryana\n\n   5,710  6,654\n  17%\n
         0                  1           2           3        4
0        7              Delhi       3,926       4,112       5%
1        8          Rajasthan       3,352       3,587       7%
2        9      Uttar Pradesh       6,265       6,620       6%
3   10\n11      Bihar\nSikkim  1,196\n214  1,348\n230  13%\n8%
4
5       12  Arunachal Pradesh          92         105      14%
6       13           Nagaland          45          43      -6%
7       14            Manipur          50          60      18%
8       15            Mizoram          35          37       5%
9       16            Tripura          88          82      -7%
10      17          Meghalaya         152         181      19%
11      18              Assam       1,005       1,115      11%
12      19        West Bengal       4,387       4,472       2%
13      20          Jharkhand       2,416       2,550       6%
14      21             Odisha       3,285       4,125      26%
15      22       Chhattisgarh       2,544       2,720       7%
16      23     Madhya Pradesh       2,728       2,935       8%
17      24            Gujarat       8,197       9,158      12%
18      25      Daman and Diu           3           0     -92%
         0                            1       2         3         4
0       26       Dadra and Nagar Haveli     288       284       -2%
1       27                  Maharashtra  17,038    20,305       19%
2       29                    Karnataka   7,915     8,750       11%
3   30\n31             Goa\nLakshadweep  344\n2    386\n2  12%\n36%
4
5       32                       Kerala   1,828     2,089       14%
6       33                   Tamil Nadu   7,579     8,023        6%
7       34                   Puducherry     161       163        1%
8       35  Andaman and Nicobar Islands      26        27        5%
9       36                    Telangana   4,166     4,242        2%
10      37               Andhra Pradesh   2,685     3,174       18%
11      38                       Ladakh      14        23       72%
12      97              Other Territory     122       149       22%
13      99          Centre Jurisdiction     141       170       20%
14                                Total  91,870  1,01,983       11%

In [14]:
# Export all tables in csv files and zip them
tables_c.export('foo.csv', f='csv', compress=True) # json, excel, html, markdown, sqlite

In [10]:
# get a pandas DataFrame!
tables_c[3].df

         0                            1       2         3         4
0       26       Dadra and Nagar Haveli     288       284       -2%
1       27                  Maharashtra  17,038    20,305       19%
2       29                    Karnataka   7,915     8,750       11%
3   30\n31             Goa\nLakshadweep  344\n2    386\n2  12%\n36%
4
5       32                       Kerala   1,828     2,089       14%
6       33                   Tamil Nadu   7,579     8,023        6%
7       34                   Puducherry     161       163        1%
8       35  Andaman and Nicobar Islands      26        27        5%
9       36                    Telangana   4,166     4,242        2%
10      37               Andhra Pradesh   2,685     3,174       18%
11      38                       Ladakh      14        23       72%
12      97              Other Territory     122       149       22%
13      99          Centre Jurisdiction     141       170       20%
14                                Total  91,870  1,01,983       11%

#### PDF data is extracted, but  not exactly the we want it. It requires merging and some cleaning as well!!

In [15]:
# Get the parsing accuracy details 

tables_c[3].parsing_report

{'accuracy': 100.0, 'whitespace': 8.0, 'order': 1, 'page': 4}

In [12]:
tables_c[3].to_csv('foo.csv') # to_json, to_excel, to_html, to_markdown, to_sqlite